html {
  height: 100%;
  background-color: none;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom right, #d67975, #d6acab, #c98ca7);
  background-repeat: no-repeat;
  background-size: cover;
}
