/* #d67975; */
@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Karla");

html {
  height: 100%;
  margin: 0;
  background: linear-gradient(to bottom right, #d67975, #d6acab, #c98ca7);
  background-repeat: no-repeat;
  background-size: cover;
}





.container{
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  font-family: "Karla", Georgia, 'Times New Roman', Times, serif;
  width: 80%;
  height: 100%;
  /* background: linear-gradient(to bottom right, #d67975, #d6acab, #c98ca7); */

}

.heading{
  border:3px #393d3f solid;
  padding: 2%;
  border-radius: 10px;
  width: 95%;
  margin: 5px;
}
.earthdate {    
  color: #d67975;
  font-family: "Fira Sans", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content:center;
  width: 100%;
  margin: 5px;
  
}

  .submit{    
    font-family: "Fira Sans", sans-serif;
    color:#393d3f;
    background: #d6acab;
    padding: 2px;
    border-radius: 0px 5px 5px 0px;
    border: none;    
    -webkit-appearance: none;
    transition: 0.3s;                 
  }

.submit:hover {
  color:#fff;
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.4s ease 0s;
}

.date{
  color: #393d3f;
  font-family: "Fira Sans", sans-serif;
  background: linear-gradient(to bottom right, #d67975, #d6acab, #c98ca7);
  background-repeat: no-repeat;
  background-size: cover;  
  border:3px #393d3f solid;
  padding: 2%;
  border-radius: 10px;
  width: 95%;
}

.date:hover {
color:#fff;
text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);

transition: all 0.4s ease 0s;
}

  input[type="date"] {
    font-family: "Fira Sans", sans-serif;    
    background: #d67975;
    border: none;
    border-radius: 0;       
    -webkit-appearance: none;
    ::-webkit-inner-spin-button { display: none; }
    ::-webkit-calendar-picker-indicator { display: none; }
    color: #393d3f;
    background: #d6acab; 
       
     }     
  }



    .noImg {
    border: none;
    oppacity: 0;

  }

  .yesImg {
    height: 33%;
    border:3px #393d3f solid;
    padding: 2%;
    border-radius: 10px;
    opacity: 1;   
  }




  h1 {
    font-family: "Karla", sans-serif;
    color: #393d3f;
    text: center;   
  }

  h3 {
    font-size: 0.9rem;
  }